body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #dddddd;
}
h1 {
    text-align: center;
}
.container {
    width: 940px;
    margin: 0 auto;
    background: #ffffff;
    min-height: 700px;
    padding-bottom: 30px;
}
.clear {
    float: none;
    clear: both;
}
#header {
    background-color: #000;
    padding-top: 10px;
}
#mainmenu {
    background-color: #ea0;
    overflow: hidden;
}
#mainmenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#mainmenu li {
    padding: 0;
    float: left;
    position: relative;
    display: list-item;
    list-style: none;
}
#mainmenu a {
    text-decoration: none;
    font-size: 16px;
    padding: 5px 15px;
    margin: 5px;
    display: block;
    color: #fff;
}
#mainmenu a:hover {
    background-color: #d90;
}
.content {
    float: left;
    width: 80%;
}
.tile {
    float: left;
    margin: 20px;
    height: 183px;
}
.tile .logo {

}
.tile a {
    color: #A01;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}
.tile a:hover {
    opacity: 1;
    text-decoration: underline;
}
.tile .logo img {
    width: 110px;
}
.tile.past {
    opacity: 0.4;
}
.tile .name, .tile .locality, .tile .date {
    max-width: 110px;
}
.sidebar {
    float: left;
    width: 20%;
}
.header_list {
    text-align: center;
}
.route_info {
    font-size: 12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border: 1px solid #cccccc;
    padding: 5px;
    margin: 10px;
}
table.results_list {
    margin:10px;
    width: 98%;
    border-collapse: collapse;
}
table.results_list th {
    border: 1px solid #dddddd;
}
table.results_list td {
    border: 1px solid #dddddd;
    text-align: center
}
table.results_list td.name {
    text-align: left;
}
td.name a {
    padding-left: 10px;
    display: block;
    text-decoration: none;
    color: #222222;
}

td.name a:hover {
    color: #990000;
}
table.results_list tr:hover, td.name a:hover {
    color: #990000;
}
.cup_form ul {
    padding: 0;
}
.cup_form li {
    list-style: none;
}
.cup_form li label {
    width: 220px;
    text-align: right;
    display: inline-block;
}
.checkbox-row input {
    margin: 0 10px 0 220px;
}
.cup_form .checkbox-row label {
    width: 400px;
}
.cup_form .send {
    text-align: center;
}
.response {
    text-align: center;
}
