{% load i18n %}
<h1>{% trans 'Organizer registration' %}</h1>
<form id="registration_form" name="registration_form" method="post" class="cup_form">
    <ul>
        <li>
            {% csrf_token %}
        </li>
        <li>
            <label for="first_name">Imię</label>
            <input id="first_name" type="text" name="first_name"/>
        </li>
        <li>
            <label for="last_name">Nazwisko</label>
            <input id="last_name" type="text" name="last_name"/>
        </li>
        <li>
            <label for="username">Nick</label>
            <input id="username" type="text" name="username"/>
        </li>
        <li>
            <label for="password">Hasło</label>
            <input id="password" type="password" name="password"/>
        </li>
        <li>
            <label for="confirm_password">Powtórz hasło</label>
            <input id="confirm_password" type="password" name="confirm_password"/>
        </li>
        <li>
            <label for="email">E-mail</label>
            <input id="email" type="text" name="email"/>
        </li>
        <li>
            <label for="web">WWW</label>
            <input id="web" type="text" name="web"/>
        </li>
        <li>
            <label for="phone">Telefon</label>
            <input id="phone" type="text" name="phone"/>
        </li>
        <li>
            <label for="desc">Opis</label>
            <textarea id="desc" type="text" name="desc"></textarea>
        </li>
        <li class="checkbox-row">
            <input id="policy" type="checkbox" class="checkbox" name="policy"/>
            <label for="policy">Zgoda na przechowywanie i przetwarzanie danych</label>
        </li>
        <li class="send">
            <input id="send_form" type="submit" name="send_form" value="Wyślij" />
        </li>
    </ul>
</form>