<h2>Registration</h2>
<form name="registration_form" action="">
    <ul>
        <li>
            <label for="username">Nick</label>
            <input id="username" type="text" name="username"/>
        </li>
        <li>
            <label for="password">Hasło</label>
            <input id="password" type="password" name="password"/>
        </li>
        <li>
            <label for="password2">Powtórz hasło</label>
            <input id="password2" type="password" name="password2"/>
        </li>
        <li>
            <label for="email">E-mail</label>
            <input id="email" type="text" name="email"/>
        </li>
        <li>
            <label for="first_name">Imię</label>
            <input id="first_name" type="text" name="first_name"/>
        </li>
        <li>
            <label for="last_name">Nazwisko</label>
            <input id="last_name" type="text" name="last_name"/>
        </li>
        <li>
            <label for="web">WWW</label>
            <input id="web" type="text" name="web"/>
        </li>
        <li>
            <label for="desc">Opis</label>
            <input id="desc" type="text" name="desc"/>
        </li>
        <li>
            <input id="send_form" type="submit" name="send_form" value="Wyślij" />
        </li>
    </ul>
</form>